

#services .container{
    // position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 1%;
    padding-top: 5px;
    // margin-left: -0.1px;
    line-height: 23px;
 
}
.feature{

    width: 65%;
}
.Design{
    border: 1px solid #cccccc;
    padding: 15px 10px;
    margin: 5px 0;
    background-color: #e6e6e6;
}
.form{
    background-color: #35424a;
    width:28% ;
    padding: 15px 10px;
    color: #ffffff;
    margin-bottom: 350px;
}
#name,
#email{
    width: 90%;
    height: 25px;
}
#subject {
    width: 90%;
    height: 50px;
}

.navservices a {
    color: #A9508B;
}